// out:false
.dialog {
  &-large {
    width    : var(--section-width);
    max-width: calc(100% - 30px);
    margin: 0 auto;

    @media (max-width:$sm) {
      width: 100%;
    }

    @media(max-width:$md) {}
  }

  &-small {
    width    : 340px;
    max-width: calc(100% - 30px);
    margin: 0 auto;
  }

  &-middle {
    width    : 620px;
    max-width: calc(100% - 30px);
    margin: 0 auto;

    @media (max-width:$sm) {
      width: 100%;
    }

  }
}