<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>О компании</title>
  <% var data={ title: "О компании" }; %>
</head>

<body>

  <%= _.template(require('./includes/header.html').default)({isIndex: false}) %>

  <%= _.template(require('./includes/navigation.html').default)(data) %>

  <section>
    <div class="banner-tel flex flex-align-center flex-justify-center p-3 text-body-1 text--center">
      <span class="fade-70 mr-2">Если есть вопросы по наличию, стоимости, сроках поставки звоните:</span>
      <a class="text--bold" href="tel: +7 (902) 550-00-99">+7 (902) 550-00-99</a>
    </div>
  </section>

  <section>
    <div class="d-md-flex">
      <div class="banner-tel flex flex-grow flex-align-center flex-justify-center p-3 text-body-1 text--center">
        <span class="text--bold">Не забудьте купить открытку к букету!</span>
      </div>
      <a href="javascript:;" class="btn btn--sec btn--fill ml-md-4 mt-2 mt-md-0">Выбрать</a>
    </div>
  </section>


  <section class="card-detail pt-0 pb-0">
    <div class="card-detail__block card py-5 px-5 py-lg-10 px-lg-7">
      <div class="card-detail__title flex flex-align-center mb-3">
        <div class="card-detail__title-text text-lg-h3 text-h6 font-alt mr-5">(488) КОНФЕТЫ RAFFAELLO 150ГР</div>
        <img class="card-detail__shild" src="img/pictures/shild-3.svg" alt="">
      </div>
      <div class="card-detail__elems flex flex-align-center mb-8">
        <div class="card-detail__elem text-body-1 mr-5">
          Артикул: <span class="fade-70">2102</span>
        </div>
        <div class="card-detail__elem text-body-1 mr-5">
          Сейчас в магазине: <span class="fade-70">3 шт</span>
        </div>
        <a class="text-body-1 color-sec" href="#">Уточнить у оператора</a>
      </div>
      <div class="card-detail__content flex">
        <div class="card-detail__sliders flex flex-align-stretch mr-10">
          <div class="card-detail-bullets slider w-100 py-8 mr-3">
            <div class="swiper grid-wrap grid-spacing-4 pb-3">
              <div class="swiper-wrapper">
                <% for (let i=0; i < 6; i++) { %>
                <div class="swiper-slide grid-col-4 grid-col-md-12">
                  <div class="card-detail-bullets__slide flex flex-align-center flex-justify-center bd-all">
                    <img src="img/pictures/pots.png" alt="">
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <button class="card-detail-bullets__btn card-detail-bullets__btn--prev slider-btn slider-prev">
              <svg class="icon color-icon">
                <use xlink:href="img/icons.svg#to-left" />
              </svg>
            </button>
            <button class="card-detail-bullets__btn card-detail-bullets__btn--next slider-btn slider-next">
              <svg class="icon color-icon">
                <use xlink:href="img/icons.svg#to-right" />
              </svg>
            </button>
          </div>
          <div class="card-detail-slider slider bd-all w-100">
            <div class="swiper grid-wrap grid-spacing-4 pb-3 h-100">
              <div class="swiper-wrapper">
                <% for (let i=0; i < 6; i++) { %>
                <div class="swiper-slide grid-col-12">
                  <div class="card-detail-slider__slide flex flex-align-center flex-justify-center h-100 p-10">
                    <img src="img/pictures/pots.png" alt="">
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <a class="card-detail__vk flex flex-align-center flex-justify-center p-2" href="#">
              <img class="text-subtitle-1 mr-2" src="img/icons/vk.svg" alt="">
              <span class="text-body-1 text--demibold">Оставить реакцию в ВК!</span>
            </a>
          </div>
        </div>
        <div class="card-detail__info">
          <div class="flex flex-align-start color-sec font-alt mb-5">
            <div class="text-h1">670 ₽</div>
          </div>

          <div class="card-detail__info-bullets flex mb-5 mb-lg-10">
            <div class="card-detail__info-bullet flex flex-align-center p-3 brs-1">
              <span class="color-icon text-h6 mr-3">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#town" />
                </svg>
              </span>
              <span class="text-body-2 ">Работаем в <span class="text--bold">трех городах</span></span>
            </div>
            <div class="card-detail__info-bullet flex flex-align-center p-3 brs-1">
              <span class="color-icon text-h6 mr-3">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#timer" />
                </svg>
              </span>
              <span class="text-body-2 "><span class="text--bold">98%</span> доставок вовремя</span>
            </div>
            <div class="card-detail__info-bullet flex flex-align-center p-3 brs-1">
              <span class="color-icon text-h6 mr-3">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#sms" />
                </svg>
              </span>
              <span class="text-body-2 "><span class="text--bold">865 человек</span> оставили свой отзыв</span>
            </div>
          </div>

          <button class="btn btn--primary btn--contur mb-10">
            <svg class="icon mr-2">
              <use xlink:href="img/icons.svg#check-2" />
            </svg>
            <span>В корзине</span>
          </button>
          <div class="flex flex-align-center text-body-1 mb-3">
            <span class="fade-60 mr-2">
              <svg class="icon">
                <use xlink:href="img/icons.svg#geolocation" />
              </svg>
            </span>
            <div class="text--demibold">Самовывоз: <span class="fade-60">через 15 минут, бесплатно</span></div>
          </div>
          <div class="flex flex-align-center text-body-1">
            <span class="fade-60 mr-2">
              <svg class="icon">
                <use xlink:href="img/icons.svg#car" />
              </svg>
            </span>
            <div class="text--demibold">Доставка: <span class="fade-60">послезавтра</span></div>
          </div>
        </div>
      </div>

      <div class="product-attempt mt-6">
        <div class="product-attempt-img">
          <img src="img/attempt-flower.png" alt="">
        </div>
        <div class="product-attempt-content">
          <div class="text-body-2 text--demibold mb-2">
            Внимание! Цвет цветов и коробки может меняться в зависимости от наличия товара на складе!
            Все изменения производятся только по предварительному согласованию с заказчиком
          </div>
          <div class="text-body-2 fade-80">
            Вы получаете настоящий шедевр флористического искусства, как не бывает двух одинаковых отпечатков
            пальцев, так и наши композиции, созданные в настоящей творческой мастерской, имеют свою уникальность в
            каждом цветке
          </div>
        </div>
      </div>
    </div>


  </section>



  <script>
    const cardDetailBullets = new Swiper('.card-detail-bullets .swiper', {
      slidesPerView: 'auto',
      watchSlidesProgress: true,
      navigation: {
        nextEl: '.card-detail-bullets .slider-next',
        prevEl: '.card-detail-bullets .slider-prev'
      },

      breakpoints: {

        0: {
          direction: 'horizontal',
        },

        768: {
          direction: 'vertical',
        },

      }

    })

    const cardDetailSlider = new Swiper('.card-detail-slider .swiper', {
      slidesPerView: 'auto',
      watchSlidesProgress: true,
      thumbs: {
        swiper: cardDetailBullets,
      }
    })
  </script>

  <section>
    <div class="text-md-h4 text-subtitle-1 mb-4 mb-lg-8">Наш флорист Катя считает, что вам может быть интересно это
    </div>
    <div class="grid grid-spacing-lg-7">
      <% for (let i=0; i < 4; i++) { %>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=10" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
          </div>

        </div>
      </div>
      <% } %>
    </div>
  </section>

  <%= _.template(require('./includes/footer.html').default)() %>

</body>

</html>