<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная - Flora</title>
</head>

<!-- <body class="new-year-theme"> -->
<body class="">

  <%= _.template(require('./includes/header.html').default)({isIndex: true}) %>

  

  <section class="started started--index">
    <div class="started-slider swiper">
      <div class="swiper-wrapper">
        <a href="javascript:;" class="started-slide swiper-slide waved" style="color:#121713">
          <div class="started-background">
            <picture>
              <source media="(min-width: 425.98px)" srcset="img/started-banner-1.jpg">
              <img src="img/started-banner-1-mobile.jpg" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="started-content">
              <div class="started__title text-md-h4 text-h6 mb-2 font-alt">
                В ПРОДАЖЕ ИМЕЕТСЯ МИКРОЗЕЛЕНЬ И РАССАДА
              </div>
              <div class="started__desc text-lg-subtitle-2 fade-80 text--regular font-alt">для выращивания в комнатных
                условиях
              </div>
              <button class="started__btn btn btn--primary btn--fill mt-10">Подробнее</button>
            </div>
          </div>
        </a>
        <a href="javascript:;" class="started-slide swiper-slide waved" style="color:#fff">
          <div class="started-background">
            <picture>
              <source media="(min-width: 425.98px)" srcset="img/started-banner-2.png">
              <img src="img/started-banner-2-mobile.png" alt="">
            </picture>
          </div>
          <div class="container">
            <div class="started-content">
              <div class="started__title text-md-h4 text-h6 mb-2 font-alt">
                В ПРОДАЖЕ ИМЕЕТСЯ <br>
                МИКРОЗЕЛЕНЬ И РАССАДА
              </div>
              <div class="started__desc text-lg-subtitle-2 fade-80 text--regular font-alt">для выращивания в комнатных
                условиях
              </div>
              <button class="started__btn btn btn--primary btn--fill mt-10">Подробнее</button>
            </div>
          </div>
        </a>
      </div>
      <div class="started-slider-pagination ">
        <div class="container">
          <div class="started-slider-pagination-bullets"></div>
        </div>
      </div>
    </div>
  </section>
  <script>
    new Swiper('.started-slider', {
      spaceBetween: 8,
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false
      },
      pagination: {
        el: '.started-slider-pagination-bullets',
        clickable: true,
      }
    })
  </script>

  <section class="banners">
    <div class="grid grid-spacing-3">
      <div class="grid-col-6">
        <a class="banners__item banners__item--yellow h-100 waved" href="javascript:;">
          <div class="banners__bg">
            <img class="banners__image" src="img/pictures/banner-1.png" alt="">
          </div>
          <div class="banners__content h-100">
            <div class="banners__title text-h1 mb-1">Акция 1+1=3</div>
            <div class="banners__subtitle text-body-1 mb-6">
              Суккуленты 250 ₽ за 1 шт,
              ТРЕТИЙ В ПОДАРОК
            </div>
            <button class="banners__btn btn btn--primary btn--fill px-10 py-3 px-9 mt-auto">Подробнее</button>
          </div>
        </a>
      </div>
      <div class="grid-col-6">
        <a class="banners__item banners__item--purple h-100 waved" href="javascript:;">
          <div class="banners__bg">
            <img class="banners__image" src="img/pictures/banner-2.png" alt="">
          </div>
          <div class="banners__content h-100">
            <div class="banners__title text-h1 mb-1">Новинка!</div>
            <div class="banners__subtitle text-body-1 mb-6">
              Семена в ассортименте
            </div>
            <button class="banners__btn btn btn--primary btn--fill px-10 py-3 px-9 mt-auto">Подробнее</button>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- Популярные букеты -->
  <section class="index-product-list">
    <div class="text-h6 text-md-h3 text-lg-h1 text-md--center mb-4 mb-lg-10 font-alt">Популярные букеты</div>
    <div class="grid grid-spacing-lg-7">
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=10" alt="">
            <div class="stock-item flex flex-align-center flex-justify-center font-alt text--center text-body-2 text--uppercase px-2">акция</div>
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--contur mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#gal-ochka-1-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>

            <div class="mt-4"></div>
            <div class="grid grid-spacing-1">
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Норильск: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Кайеркан: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Талнах: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Оганер: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=11" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
                        
            <div class="mt-4"></div>
            <div class="grid grid-spacing-1">
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Норильск: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Кайеркан: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Талнах: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Оганер: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=12" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
                        
            <div class="mt-4"></div>
            <div class="grid grid-spacing-1">
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Норильск: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Кайеркан: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Талнах: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Оганер: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=13" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
                        
            <div class="mt-4"></div>
            <div class="grid grid-spacing-1">
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Норильск: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Кайеркан: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Талнах: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Оганер: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=14" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
                        
            <div class="mt-4"></div>
            <div class="grid grid-spacing-1">
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Норильск: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Кайеркан: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Талнах: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Оганер: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=15" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
                        
            <div class="mt-4"></div>
            <div class="grid grid-spacing-1">
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Норильск: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Кайеркан: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Талнах: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
              <div class="grid-col-6">
                <div class="product-card-availability">
                  <span class="text--demibold">Оганер: </span><span class="fade-60">1 шт</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="flex">
      <a href="javascript:;" class="btn btn--primary btn--fill px-10 mt-5 mt-lg-10 mx-auto w-100 w-md-auto">Показать еще
        букеты</a>
    </div>
  </section>

  <!-- Хотите подарить цветы? Повод всегда найдется! -->
  <div class="holiday py-7">
    <div class="text-h6 text-md-h3 text-lg-h1 text-md--center mb-4 mb-lg-10 font-alt px-4">
      Хотите подарить цветы? Повод всегда найдется!
    </div>
    <section class="holiday__block flex flex-align-center flex-justify-between mx-4 py-4">
      <div class="holiday__content">
        <div class="text-body-1 text--demibold mb-5">Сегодня 18 декабря</div>
        <div class="holiday__day flex flex-align-center bg-l3 mb-7 py-4 px-5">
          <img class="icon text-h4 mr-2" src="img/pictures/smile.png" alt="">
          <span class="text-lg-h6 text-body-2 text--demibold font-alt">День признательности снежинкам</span>
        </div>
        <p class="holiday__text text-lg-body-1 mb-10">
          Каждый год 18 декабря празднуется день признательности снежинкам. Это очень актуально в преддверии Нового
          Года. Если Вы любите снег или у Вас есть дети, которые без ума от зимы, устройте им праздник. Тем самым Вы
          настроитесь на праздничный лад. Сходите слепите веселого снеговичка или покатайтесь на катке и будет у Вас
          отличное настроение!
        </p>
        <div class="holiday__items">
          <div class="text-body-1 mb-6 text--demibold mb-5">Хотите выбрать цветы сами? У нас есть что вам предложить!
          </div>
          <a href="javascript:;" class="holiday__btn btn btn--primary btn--fill px-7">Посмотреть весь каталог</a>
        </div>
      </div>
      <div class="holiday__info p-5">
        <div class="text-body-1 text--demibold mb-5">Что подарить</div>
        <div class="holiday__card card card-action pt-6 pb-9 px-2">
          <div class="holiday__card-img card-img mb-md-4 mb-4 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="img/pictures/flowers.png" alt="">
          </div>
          <div class="px-6">
            <div class="holiday__name text-subtitle-1 mb-2">Хризантема кустовая Баккарди...</div>
            <div class="holiday__price text-body-0 fade-80">260 ₽</div>
          </div>
        </div>
      </div>
      <div class="holiday__mobile mt-3">
        <div class="text-body-1 mb-6 text--demibold mb-5">Хотите выбрать цветы сами? У нас есть что вам предложить!
        </div>
        <a href="javascript:;" class="holiday__btn btn btn--primary btn--fill px-7">Посмотреть весь каталог</a>
      </div>
    </section>
  </div>

  <!-- Для любителей создавать домашний уют -->
  <section class="index-product-list">
    <div class="text-h6 text-md-h3 text-lg-h1 text-md--center mb-4 mb-lg-10 font-alt">Для любителей создавать домашний
      уют</div>
    <div class="grid grid-spacing-lg-7">
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=10" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=11" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=12" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=13" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=14" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
          </div>

        </div>
      </div>
      <div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
        <div class="product-card card card-action p-1 p-md-2 link-hover-wrapper h-100">
          <div class="product-card-img card-img mb-md-4 mb-3 brs-2 bg-l2 progress-container">
            <div class="progress progress-circle fade-60 text-body-1"></div>
            <img src="https://picsum.photos/400/600?random=15" alt="">
          </div>
          <div class="card-content px-1 pb-1 px-md-2 pb-md-2">
            <div class="text-body-2 text-md-body-1 mb-md-4 mb-3 link-hover">Букет №7104</div>
            <button class="btn btn-small btn-lg-middle btn--primary btn--light mt-auto w-100">
              <svg class="icon text-lg-subtitle-2 mr-2">
                <use xlink:href="img/icons.svg#cart-contur" />
              </svg>
              <div class="text-md-body-0 text-lg-h6 font-alt text--demibold">1 400 ₽</div>
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="flex">
      <a href="javascript:;" class="btn btn--primary btn--fill px-10 mt-5 mt-lg-10 mx-auto w-100 w-md-auto">Показать
        больше</a>
    </div>
  </section>

  <!-- Мы к вашим услугам! -->
  <section class="services bg-sec mx-4 my-10">
    <div class="services__bg">
      <div class="services__bg-icon services__bg-icon--1">
        <svg>
          <use xlink:href="img/icons.svg#services-bg-1" />
        </svg>
      </div>
      <div class="services__bg-icon services__bg-icon--2">
        <svg>
          <use xlink:href="img/icons.svg#services-bg-2" />
        </svg>
      </div>
      <img class="services__bg-img services__bg-img--1" src="img/pictures/services-img-1.png" alt="">
      <img class="services__bg-img services__bg-img--2" src="img/pictures/services-img-2.png" alt="">
    </div>
    <div class="services__content flex flex-align-center flex-justify-between">
      <div class="services__info">
        <div class="services__title lh-1 text-h6 mb-10 mb-lg-10 font-alt color-white">
          Мы к вашим услугам!
        </div>
        <div class="services__text text-body-1 color-white mb-8">
          Цветы уместны всегда, но не всегда есть возможность
          вручить их самостоятельно.
        </div>
        <div class="services__text text-body-1 color-white mb-8">
          Мы предлагаем доставку любого букета из каталога
          «Флора» в короткие сроки!
        </div>
        <button class="btn btn--sec btn--white-bg color-text">О магазине</button>
      </div>
      <div class="services__pic">
        <img class="services__img" src="img/pictures/services.png" alt="">
      </div>
    </div>
  </section>

  <!-- У нас очень уютно - посмотрите сами -->
  <section class="video">
    <div class="text-h6 text-md-h3 text-lg-h1 text-md--center mb-4 mb-lg-10 font-alt">У нас очень уютно - посмотрите
      сами</div>
    <a class="video__card card card-action p-2" href="https://youtu.be/YAmkIt70RtU" data-fancybox>
      <div class="video__card-img image image--rect brs-2 bg-l2 progress-container">
        <div class="progress progress-circle fade-60 text-body-1"></div>
        <img src="https://picsum.photos/1920/1080?random=13" alt="">
        <div class="video__play flex flex-align-center flex-justify-center">
          <button class="video__btn btn btn--sec btn--white-bg btn-fab pl-3">
            <svg class="icon">
              <use xlink:href="img/icons.svg#play" />
            </svg>
          </button>
        </div>
      </div>
    </a>
  </section>

  <!-- Клиент доволен - мы спим спокойно -->
  <section class="reviews">
    <div class="text-h6 text-md-h3 text-lg-h1 text-md--center mb-4 mb-lg-10 font-alt">Клиент доволен - мы спим спокойно
    </div>
    <div class="slider reviews-slider slider--overwrap">
      <div class="swiper grid-wrap grid-spacing-4 pb-3">
        <div class="swiper-wrapper">
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-3">
            <div class="reviews__item reviews__item--red py-6 px-4">
              <div class="reviews__head flex flex-align-center flex-justify-between mb-5">
                <div class="flex flex-align-center">
                  <div class="reviews__pic card flex flex-align-center flex-justify-center mr-3">
                    <img class="reviews__icon icon" src="img/pictures/men-1.png" alt="">
                  </div>
                  <div class="reviews__info">
                    <span class="reviews__name text-body-1 text--demibold">Татьяна</span>
                    <div class="reviews__stars flex flex-align-center color-yellow text--small">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="reviews__date text-body-1 fade-60">17.12.21</div>
              </div>
              <div class="reviews__text text-body-1">
                Добрый день! Хочу выразить огромную благодарность, салону цветов Флора в р-не Кайеркан, а именно Юлии,
                большая молодец, быстро и очень достойно оформила букет, все это в телефонном режиме, так как дорога
                была закрыта.Доставили очень-очень быстро, мамочка довольна. Благодаря таким людям как Юлия, хочется вас
                рекомендовать и обращаться к вам снова. Вам процветания, всех благ. С уважением, Татьяна.
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-3">
            <div class="reviews__item reviews__item--orange py-6 px-4">
              <div class="reviews__head flex flex-align-center flex-justify-between mb-5">
                <div class="flex flex-align-center">
                  <div class="reviews__pic card flex flex-align-center flex-justify-center mr-3">
                    <img class="reviews__icon icon" src="img/pictures/men-4.png" alt="">
                  </div>
                  <div class="reviews__info">
                    <span class="reviews__name text-body-1 text--demibold">Владимир</span>
                    <div class="reviews__stars flex flex-align-center color-yellow text--small">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="reviews__date text-body-1 fade-60">17.12.21</div>
              </div>
              <div class="reviews__text text-body-1">
                Спасибо девочкам с Талнахской 72, несмотря на усталость они были приветливы и улыбчивы. Работая на 8
                марта в свой праздник и слушая хамство покупателей (я лично был этому свидетель) они были терпеливыми.
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-3">
            <div class="reviews__item reviews__item--green py-6 px-4">
              <div class="reviews__head flex flex-align-center flex-justify-between mb-5">
                <div class="flex flex-align-center">
                  <div class="reviews__pic card flex flex-align-center flex-justify-center mr-3">
                    <img class="reviews__icon icon" src="img/pictures/men-2.png" alt="">
                  </div>
                  <div class="reviews__info">
                    <span class="reviews__name text-body-1 text--demibold">Михаил</span>
                    <div class="reviews__stars flex flex-align-center color-yellow text--small">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="reviews__date text-body-1 fade-60">17.12.21</div>
              </div>
              <div class="reviews__text text-body-1">
                Спасибо девочкам с Талнахской 72, несмотря на усталость они были приветливы и улыбчивы. Работая на 8
                марта в свой праздник и слушая хамство покупателей (я лично был этому свидетель) они были терпеливыми.
                Терпения вам девочки и здоровья. Спасибо за красивую корзину которую я у вас купил!
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-3">
            <div class="reviews__item reviews__item--blue py-6 px-4">
              <div class="reviews__head flex flex-align-center flex-justify-between mb-5">
                <div class="flex flex-align-center">
                  <div class="reviews__pic card flex flex-align-center flex-justify-center mr-3">
                    <img class="reviews__icon icon" src="img/pictures/men-3.png" alt="">
                  </div>
                  <div class="reviews__info">
                    <span class="reviews__name text-body-1 text--demibold">Алиса</span>
                    <div class="reviews__stars flex flex-align-center color-yellow text--small">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="reviews__date text-body-1 fade-60">17.12.21</div>
              </div>
              <div class="reviews__text text-body-1">
                Спасибо Флоре! Цветы свежие,
                доставка своевременная!
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-3">
            <div class="reviews__item reviews__item--red py-6 px-4">
              <div class="reviews__head flex flex-align-center flex-justify-between mb-5">
                <div class="flex flex-align-center">
                  <div class="reviews__pic card flex flex-align-center flex-justify-center mr-3">
                    <img class="reviews__icon icon" src="img/pictures/men-1.png" alt="">
                  </div>
                  <div class="reviews__info">
                    <span class="reviews__name text-body-1 text--demibold">Татьяна</span>
                    <div class="reviews__stars flex flex-align-center color-yellow text--small">
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                      <svg class="icon">
                        <use xlink:href="img/icons.svg#star" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="reviews__date text-body-1 fade-60">17.12.21</div>
              </div>
              <div class="reviews__text text-body-1">
                Добрый день! Хочу выразить огромную благодарность, салону цветов Флора в р-не Кайеркан, а именно Юлии,
                большая молодец, быстро и очень достойно оформила букет, все это в телефонном режиме, так как дорога
                была закрыта.Доставили очень-очень быстро, мамочка довольна. Благодаря таким людям как Юлия, хочется вас
                рекомендовать и обращаться к вам снова. Вам процветания, всех благ. С уважением, Татьяна.
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="d-none d-md-flex slider-prev btn btn-fab btn--primary btn--white-bg">
        <svg class="icon color-text">
          <use xlink:href="img/icons.svg#to-left" />
        </svg>
      </button>
      <button class="d-none d-md-flex slider-next btn btn-fab btn--primary btn--white-bg">
        <svg class="icon color-text">
          <use xlink:href="img/icons.svg#to-right" />
        </svg>
      </button>
    </div>
  </section>

  <script>
    new Swiper('.reviews-slider .swiper', {
      slidesPerView: 'auto',
      watchSlidesProgress: true,
      loop: true,
      navigation: {
        nextEl: '.reviews-slider .slider-next',
        prevEl: '.reviews-slider .slider-prev'
      }
    })
  </script>

  <!-- Подписывайтесь на наш ВК! -->
  <section class="network">
    <div class="network__block">
      <div class="network__bg">
        <img class="network__bg-img network__bg-img--1" src="img/pictures/network-bg-1.png" alt="">
        <picture>
          <source srcset="img/pictures/network-bg-3.png" media="(max-width: 768px)">
          <img class="network__bg-img network__bg-img--2" src="img/pictures/network-bg-2.png" alt="">
        </picture>
      </div>
      <div class="network__content">
        <div class="network__title text-h6 mb-9 mb-lg-10 font-alt color-white">
          Подписывайтесь на наш ВК!
        </div>
        <div class="network__items mb-10">
          <div class="network__item flex flex-align-center mb-4">
            <span class="text-body-1 mr-1 color-white">Дарите эмоции вместе с нами</span>
            <img class="network__icon icon text-body-0" src="img/pictures/network-icon-1.png" alt="">
          </div>
          <div class="network__item flex flex-align-center  mb-1">
            <img class="network__icon icon text-body-0 mr-1" src="img/pictures/network-icon-2.png" alt="">
            <span class="text-body-1 color-white">букеты на все случаи жизни</span>
          </div>
          <div class="network__item flex flex-align-center  mb-1">
            <img class="network__icon icon text-body-0 mr-1" src="img/pictures/network-icon-3.png" alt="">
            <span class="text-body-1 color-white">мягкие игрушки</span>
          </div>
          <div class="network__item flex flex-align-center ">
            <img class="network__icon icon text-body-0 mr-1" src="img/pictures/network-icon-4.png" alt="">
            <span class="text-body-1 color-white">горшечныецветы</span>
          </div>
        </div>
        <button class="btn btn--white-bg px-10">Перейти</button>
      </div>
    </div>
  </section>

  <!-- Полезно знать -->
  <section class="information">
    <div class="text-h6 text-md-h3 text-lg-h1 text-md--center mb-4 mb-lg-10 font-alt">Полезно знать</div>
    <div class="information__items">
      <div class="information__item mb-4 bg-primary-10 brs-2" data-toggle-cover>
        <div class="information__head flex flex-align-center flex-justify-between px-6 py-6" data-toggle-link>
          <div class="flex flex-align-center">
            <span class="information__circle bg-sec mr-4"></span>
            <div class="information__subtitle text-h6">Какие цветы дарят на 14 февраля?</div>
          </div>
          <div class="information__arrow">
            <svg class="icon text-lg-subtitle-2">
              <use xlink:href="img/icons.svg#arrow" />
            </svg>
          </div>
        </div>
        <div data-toggle-content data-toggle-height data-toggle-static>
          <div class="information__body px-10 py-6 text-body-1 fade-80 bd-top bd-white">
            Уже прошло 14 февраля и женщины получили подарки от любимых теперь нужно готовить букет своему мужчине на 23
            февраля. Начинается волнительное время выбора подарков для сильной половины человечества на их законный
            праздник. Одним из оптимальных вариантов решения вопроса подарка станет букет мужчине на 23 февраля.
          </div>
        </div>
      </div>
      <div class="information__item mb-4 bg-primary-10 brs-2" data-toggle-cover>
        <div class="information__head flex flex-align-center flex-justify-between px-6 py-6" data-toggle-link>
          <div class="flex flex-align-center">
            <span class="information__circle bg-sec mr-4"></span>
            <div class="information__subtitle text-h6">Букет мужчине на 23 февраля</div>
          </div>
          <div class="information__arrow">
            <svg class="icon text-lg-subtitle-2">
              <use xlink:href="img/icons.svg#arrow" />
            </svg>
          </div>
        </div>
        <div data-toggle-content data-toggle-height data-toggle-static>
          <div class="information__body px-10 py-6 text-body-1 fade-80 bd-top bd-white">
            Уже прошло 14 февраля и женщины получили подарки от любимых теперь нужно готовить букет своему мужчине на 23
            февраля. Начинается волнительное время выбора подарков для сильной половины человечества на их законный
            праздник. Одним из оптимальных вариантов решения вопроса подарка станет букет мужчине на 23 февраля.
          </div>
        </div>
      </div>
      <div class="information__item mb-4 bg-primary-10 brs-2" data-toggle-cover>
        <div class="information__head flex flex-align-center flex-justify-between px-6 py-6" data-toggle-link>
          <div class="flex flex-align-center">
            <span class="information__circle bg-sec mr-4"></span>
            <div class="information__subtitle text-h6">Какие цветы должны быть в доме?</div>
          </div>
          <div class="information__arrow">
            <svg class="icon text-lg-subtitle-2">
              <use xlink:href="img/icons.svg#arrow" />
            </svg>
          </div>
        </div>
        <div data-toggle-content data-toggle-height data-toggle-static>
          <div class="information__body px-10 py-6 text-body-1 fade-80 bd-top bd-white">
            Уже прошло 14 февраля и женщины получили подарки от любимых теперь нужно готовить букет своему мужчине на 23
            февраля. Начинается волнительное время выбора подарков для сильной половины человечества на их законный
            праздник. Одним из оптимальных вариантов решения вопроса подарка станет букет мужчине на 23 февраля.
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= _.template(require('./includes/footer.html').default)() %>
</body>

</html>