<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <% var data = { title: "Личный кабинет" }; %>
</head>

<body>

  <%= _.template(require('./includes/header.html').default)({isIndex: false}) %>
  
  <%= _.template(require('./includes/navigation.html').default)(data) %>
  
  <%= _.template(require('./includes/page-title.html').default)(data) %>

  <section class="lk">
    <div class="lk__items grid grid-spacing-lg-7">
      <div class="grid-col-12 grid-col-lg-4">
        <a class="lk__item lk__item--1 py-7 px-8 color-white" href="#">
          <div class="lk__pic text-h3 mb-10">
            <svg class="icon">
              <use xlink:href="img/icons.svg#settings-1" />
            </svg>
          </div>
          <div class="lk__title text-h6 text--demibold mb-5">Изменить данные</div>
          <button class="lk__btn btn btn--white-bg">Перейти</button>
        </a>
      </div>
      <div class="grid-col-12 grid-col-lg-4">
        <a class="lk__item lk__item--2 py-7 px-8 color-white" href="#">
          <div class="lk__pic text-h3 mb-10">
            <svg class="icon">
              <use xlink:href="img/icons.svg#document" />
            </svg>
          </div>
          <div class="lk__title text-h6 text--demibold mb-5">Мои заказы</div>
          <button class="lk__btn btn btn--white-bg">Перейти</button>
        </a>
      </div>
      <div class="grid-col-12 grid-col-lg-4">
        <a class="lk__item lk__item--3 py-7 px-8 color-white" href="#">
          <div class="lk__pic text-h3 mb-10">
            <svg class="icon">
              <use xlink:href="img/icons.svg#bag-1" />
            </svg>
          </div>
          <div class="lk__title text-h6 text--demibold mb-5">Cодержимое корзины</div>
          <button class="lk__btn btn btn--white-bg">Перейти</button>
        </a>
      </div>
    </div>
  </section>

  <%= _.template(require('./includes/footer.html').default)() %>

</body>

</html>