<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
  <% var data = { title: "Сменить пароль" }; %>
</head>

<body>

  <%= _.template(require('./includes/header.html').default)({isIndex: false}) %>
  
  <%= _.template(require('./includes/navigation.html').default)(data) %>
  
  <%= _.template(require('./includes/page-title.html').default)(data) %>

  <section class="registration">
    <div class="registration__block py-5 py-lg-10">
      <div class="registration__info bg-white mx-auto">
        <form class="registration__form p-5 p-lg-10">
          <label class="d-block mb-7">
            <div class="text-body-1 text--demibold mb-2">Введите новый пароль</div>
            <div class="registration__cover form-input-cover">
              <input class="form-input w-100" type="text">
            </div>
          </label>
          <button class="btn btn--primary btn--fill">Сменить пароль</button>
        </form>
      </div>
    </div>
  </section>

  <%= _.template(require('./includes/footer.html').default)() %>

</body>

</html>