@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {
	@include getColors(#009C2D, "primary");
	@include getColors(#E13280, "sec");
	@include getColors(#0092E4, "blue");
	@include getColors(#FF9820, "yellow");
	@include getColors(#FEFFCE, "yellow-light");
	@include getColors(#FFEBCE, "light");
	@include getColors(#009C2D, "green");
	@include getColors(#E6F4EB, "green-light");
	@include getColors(#EB5757, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#333333, "text");
	@include getColors(#fff, "white");
	@include getColors(#E8D7FF, "purple");

	--bg1: #F8F9FA;
	--bg2: #F8F9FA;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'SF Pro Display', Arial, Helvetica, sans-serif;
	--font-alt: 'Manrope', Arial, Helvetica, sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	color         : var(--color-text);
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;
	background: var(--bg1);

	* {
		font-family: var(--font-base);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.product-card{
	&-img{
		&:before{
			padding-bottom: calc(100% * 271 / 254);

		}
	}
}

.banners {
	&__item {
		border-radius: 28px;
		position: relative;
		padding: 58px 54px;
		border-radius: 28px;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border-radius: 28px;
		overflow: hidden;
	}
	&__image {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&__content {
		position: relative;
		max-width: 230px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	&__btn {
		max-width: max-content;
	}

	@media(max-width: $lg) {
		&__item {
			padding: 25px 15px;
			padding-bottom: 100px;
		}
		&__image {
			width: 120px;
		}
		&__title {
			font-size: 18px;
			margin-bottom: 6px;
		}
		&__subtitle {
			font-size: 14px;
			margin-bottom: 0;
		}
		&__btn {
			display: none;
		}
	}
}

.holiday {
	&__content {
		width: 100%;
		max-width: 510px;
	}
	&__block {
		border-radius: 28px;
		& span {
			line-height: 1;
		}
	}
	&__day {
		border-radius: 28px;
	}
	&__btn {
		max-width: 250px;
	}
	&__info {
		width: 100%;
		max-width: 480px;
		border-radius: 28px;
		background-color: var(--color-white-40);
	}
	&__card {
		border-radius: 20px;
		&-img::before {
			padding-bottom: 55%;
		}
	}
	&__mobile {
		display: none;
	}

	@media(max-width: $lg) {
		&__block {
			flex-direction: column;
			justify-content: flex-start;
		}
		&__content {
			margin-bottom: 20px;
		}
		&__items {
			display: none;
		}
		&__mobile {
			display: block;
		}
	}

	@media(max-width: $md) {
		&__day {
			justify-content: center;
			margin-bottom: 16px;
			padding: 15px;
			& img {
				font-size: 18px;
			}
		}
		&__text {
			font-size: 14px;
			margin-bottom: 16px;
		}
		&__btn {
			max-width: 100%;
		}
		&__info {
			padding: 8px;
		}
		&__card {
			padding: 16px;
		}
		&__name {
			font-size: 14px;
			margin-bottom: 0;
		}
		&__price {
			font-size: 16px;
		}
	}
}


.video {
	&__card {
		border-radius: 28px;
		&-img {
			border-radius: 28px;
			&::before {
				padding-bottom: calc(100% * (604 / 1154));
			}
		}
	}
	&__play {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__btn {
		width: 130px;
		height: 130px;
		border-radius: 50%;
		font-size: 50px;
	}

	@media(max-width: $md) {
		&__card-img::before {
			padding-bottom: 75%;
		}
		&__btn {
			width: 70px;
			height: 70px;
			font-size: 26px;
			padding-left: 5px;
		}
	}
}

.reviews {
	&__item {
		border-radius: 28px;
	}
	&__pic {
		min-width: 36px;
		height: 36px;
		border-radius: 50%;
	}
	&__icon {
		font-size: 40px;
	}
}

.services {
	border-radius: 28px;
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border-radius: 28px;
		overflow: hidden;
		&-icon {
			position: absolute;
			bottom: 0;
			left: 0;
			&--1 {
				bottom: 0;
				left: 100px;
				& svg {
					width: 1600px;
					color: #D3447A;
				}
			}
			&--2 {
				bottom: -20px;
				left: -200px;
				& svg {
					width: 2300px;
					color: #F660A3;
				}
			}
		}
		&-img {
			position: absolute;
			width: auto;
			right: 0;
			top: 100px;
			&--2 {
				right: 700px;
			}
		}
	}
	&__content {
		position: relative;
	}
	&__title {
		font-size: 52px;
	}
	&__info {
		width: 100%;
		max-width: 390px;
	}
	&__pic {
		margin-top: -90px;
		margin-bottom: -30px;
	}
	&__img {
		width: 100%;
		max-width: 620px;
	}

	@media(max-width: $lg) {
		& {
			margin-top: 0;
			margin-bottom: 0;
		}
		&__content {
			flex-direction: column;
		}
		&__pic {
			margin-top: 0;
			margin-bottom: -30px;
			margin-left: -30px;
			margin-right: -30px;
		}
		&__bg {
			&-icon {
				&--1 {
					left: 50px;
					& svg {
						width: 1000px;
					}
				}
				&--2 {
					left: -50px;
					& svg {
						width: 1300px;
					}
				}
			}
			&-img {
				top: auto;
				bottom: 50px;
				&--2 {
					right: 100px;
				}
			}
		}
	}

	@media(max-width: $md) {
		&__title {
			font-size: 24px;
			line-height: 1;
			margin-bottom: 20px;
		}
		&__text {
			font-size: 14px;
			margin-bottom: 20px;
		}
	}
}

.network {
	&__block {
		position: relative;
		border-radius: 28px;
		padding: 60px 85px;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border-radius: 28px;
		overflow: hidden;
		&-img {
			position: absolute;
			&--1 {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&--2 {
				width: 1300px;
				top: -200px;
				right: -350px;
			}
		}
	}
	&__content {
		position: relative;
		z-index: 1;
		max-width: 440px;
	}
	&__title {
		font-size: 52px;
		line-height: 1.2;
	}

	@media(max-width: $lg) {
		&__bg-img--2 {
			top: 150px;
			right: -250px;
		}
	}
	@media(max-width: $md) {
		&__bg-img--2 {
			transform: scale(2.5);
			top: 350px;
			right: 0;
		}
		&__title {
			font-size: 24px;
			margin-bottom: 25px;
		}
		&__block {
			padding: 30px;
			padding-bottom: 200px;
		}
		&__item {
			& span {
				font-size: 14px;
			}
		}
	}
}

.information {
	&__item {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__head {
		cursor: pointer;
		&.toggle-active .information__arrow{
			transform: rotate(-90deg);
		}
	}
	&__circle {
		width: 12px;
		height: 12px;
		border-radius: 50%;
	}
	&__body {
		background-color: rgba(255, 255, 255, 0.3);
	}
	&__arrow {
		font-size: 10px;
		transition: 0.3s transform linear;
	}

	@media(max-width: $md) {
		&__head, &__body {
			padding: 20px 12px;
		}
		&__circle {
			width: 8px;
			height: 8px;
			margin-right: 8px;
		}
		&__subtitle, &__body {
			font-size: 14px;
		}
	}
}

.footer {
	border-radius: 28px;
	flex-direction: row;
	&__logo {
		display: flex;
		flex-direction: column;
		&-img {
			width: 150px;
		}
	}
	&__items {
		display: flex;
		flex-direction: column;
	}
	&__item {
		&:last-child {
			margin-bottom: 0;
		}
	}

	@media(max-width: $lg) {
		&__list {
			display: none;
		}
	}

	@media(max-width: $md) {
		& {
			flex-direction: column;
			align-items: center;
		}
		&__logo {
			margin-bottom: 20px;
		}
	}
}

.navigation {
	padding-top: 0;
	padding-bottom: 0;
	&__item {
		&--disabled {
			pointer-events: none;
		}
	}
}

.page {
	&-title {
		&__block {
			border-radius: 20px;
		}
		&__tel {
			min-width: 48px;
			height: 48px;
		}
		&__br {
			display: none;
		}
	
		@media(max-width: $lg) {
			&__block {
				flex-direction: column;
				align-items: flex-start;
				background-color: rgba(0, 0, 0, 0);
				border: 0;
				padding: 0;
			}
			&__name {
				width: 100%;
				max-width: 100%;
				padding: 10px 16px;
				border-radius: 20px;
				background-color: var(--color-white);
			}
			&__bell {
				margin-top: 20px;
			}
		}
	
		@media(max-width: $md) {
			&__name {
				font-size: 24px;
			}
			&__tel {
				margin-right: 0;
			}
			&__text {
				font-size: 14px;
				& span br {
					display: none;
				}
			}
		}
	
		@media(max-width: 370px) {
			&__br {
				display: block;
			}
		}
	}
	&-info {

		@media(max-width: $md) {
			&__text {
				font-size: 14px;
			}
		}
	}
}

.banner {
	padding-top: 0;
	&__block {
		border-radius: 20px;
		position: relative;
	}
	&__bg, &__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	&__bg {
		overflow: hidden;
		border-radius: 20px;
		&-img {
			object-fit: cover;
		}
	}
	&__content {
		position: relative;
	}

	@media(max-width: $lg) {
		&__block {
			padding: 24px 16px;
			padding-bottom: 84px;
		}
		&__content {
			width: 100%;
			max-width: 350px;
		}
		&__subtitle br {
			display: none;
		}
	}
	@media(max-width: $md) {
		&__content {
			max-width: 220px;
		}
		&__title {
			font-size: 20px;
		}
		&__subtitle {
			font-size: 14px;
		}
	}
}

.list {
	li {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: auto 0;
			background-color: var(--color-green);
		}
	}
}

.delivery {
	&__die {
		border-radius: 20px;
	}
	&__image {
		min-width: 38px;
	}

	@media(max-width: $md) {
		& {
			padding-top: 0;
		}
		&__text {
			font-size: 14px;
			margin-bottom: 20px;
		}
		&__die{
			padding: 20px 16px;
		}
		&__image {
			min-width: 74px;
			font-size: 72px;
			margin-right: 10px;
		}
		&__subtitle {
			font-size: 14px;
		}
	}
}

.advantages {
	&__item {
		border-radius: 20px;
		position: relative;
		height: 310px;
	}
	&__bg, &__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	&__bg {
		border-radius: 20px;
		overflow: hidden;
	}
	&__img {
		object-fit: cover;
	}
	&__content {
		position: relative;
	}

	@media(max-width: $lg) {
		&__elem {
			&--1 {
				order: 1;
			}
			&--2 {
				order: 2;
			}
			&--3 {
				order: 3;
			}
			&--4 {
				order: 5;
			}
			&--5 {
				order: 4;
			}
			&--6 {
				order: 6;
			}
		}
	}

	@media(max-width: $md) {
		& {
			padding-top: 0;
		}
		&__item {
			height: 200px;
			padding: 16px 10px;
		}
		&__title {
			font-size: 16px;
			margin-bottom: 6px;
		}
		&__subtitle {
			font-size: 14px;
		}
	}
}

.gallery {
	&__item {
		display: block;
		border-radius: 20px;
		overflow: hidden;
		height: 310px;
		position: relative;
		@media (hover) {
			&:hover .gallery__img {
				transform: scale(1.1);
			}
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.3s linear transform;
	}

	@media(max-width: $lg) {
		&__elem {
			&--1 {
				order: 1;
			}
			&--2 {
				order: 2;
			}
			&--3 {
				order: 3;
			}
			&--4 {
				order: 5;
			}
			&--5 {
				order: 4;
			}
			&--6 {
				order: 6;
			}
		}
		&__item {
			height: 200px;
		}
	}

	@media(max-width: $md) {
		& {
			padding-top: 0;
		}
		&__items {
			--gap: calc(var(--spacing) * 2);
		}
		&__text {
			font-size: 14px;
			margin-bottom: 20px;
		}
	}
}

.towns {
	padding-top: 0;
	&__item {
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		height: 310px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content {
		position: relative;
	}
	&__city {
		width: 62px;
		height: 62px;
		border-radius: 22px;
	}

	@media(max-width: $md) {
		&__item {
			height: 220px;
		}
	}
}

.payment {
	padding-top: 0;
	&__block {
		border-radius: 20px;
		position: relative;
		overflow: hidden;
		height: 250px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media(max-width: $lg) {
		&__block {
			height: 150px;
		}
	}
}

.articles {
	&__pic {
		position: relative;
		overflow: hidden;
		height: 240px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.3s transform linear;
	}
	&__elem {
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		flex: 1;
		height: 310px;
		margin-right: 12px;
		&:last-child {
			margin-right: 0;
		}
	}
	@media (hover) {
		&__item:hover &__img,
		&__elem:hover &__img  {
			transform: scale(1.1);
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	&__btn {
		max-width: max-content;
	}

	@media(max-width: $lg) {
		&__images {
			overflow: auto;
		}
		&__elem {
			flex: none;
			min-width: 280px;
			height: 210px;
		}
	}

	@media(max-width: $md) {
		&__pic {
			height: 210px;
		}
		&__title {
			font-size: 16px;
		}
		&__text {
			font-size: 14px;
			margin-bottom: 20px;
		}
	}
}

.job {
	display: flex;
	flex-direction: column;
	&__item {
		flex-direction: row;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__pic {
		width: 340px;
		height: 360px;
		overflow: hidden;
		position: relative;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.3s transform linear;
	}
	&__die {
		background-color: var(--color-sec-20);
		border-radius: 28px;
	}
	&__salary {
		background-color: var(--color-icon-20);
	}
	&__br {
		display: none;
	}

	@media(max-width: $lg) {
		&__item {
			flex-direction: column;
			align-items: flex-start;
			padding: 8px;
			max-width: 450px;
			margin-left: auto;
			margin-right: auto;
		}
		&__pic {
			margin-right: 0;
			height: 210px;
			width: 100%;
		}
		&__content {
			padding: 8px;
		}
		&__title {
			flex-direction: column;
			align-items: flex-start;
			&-text {
				margin-right: 0;
			}
		}
		&__icon {
			display: none;
		}
		&__elems {
			flex-direction: column;
			margin-bottom: 15px;
		}
		&__line {
			margin: 15px 0;
		}
		&__die {
			margin-top: 14px;
		}
		&__list {
			font-size: 14px;
		}
		&__salary {
			font-size: 16px;
			padding: 15px;
		}
		&__tel {
			font-size: 22px;
			margin-right: 8px;
		}
		&__phone {
			font-size: 14px;
		}
		&__br {
			display: block;
		}
	}
}

.reviews-feedback {
	&__form {
		padding: 38px 48px;
		border-radius: 20px;
	}
	&__label {
		display: flex;
		flex-direction: column;
	}
	&__input {
		&--textarea {
			height: 110px;
		}
	}
	&__pic {
		position: relative;
		border-radius: 20px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

.rating {
	flex-direction: row-reverse;
	background-color: var(--color-yellow-20);
	border-radius: 6px;
    &__val {
        display: none;
    }
    &__item {
        cursor: pointer;
    }
    &__val:checked + &__item,
    &__val:checked ~ &__item {
        opacity: 1;
    }
    @media(hover) {
        &__item:hover,
        &__item:hover ~ &__item {
            opacity: 1;
        }
    }
}